@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    background-image: url('../images/background.png');
    background-image: linear-gradient(rgba(0, 0, 0, 0.5));
    background-size: cover;
  
   
}

form {
    border-radius: 15px;
    width: 1037px;
    border: 2px solid #ccc;
    padding: 30px;
    margin-left: 40%;
    margin-bottom: 7%;
    margin-top: -7%;
}

input {
    font-family:  Helvetica;
    font-size:32px ;
    line-height: 12px;
    background :#76BA1B;
    display: block;
    border: 5px solid #FFF9F9;
    border-radius: 20px;
    width: 50%;
    margin: 10px auto;
    padding: 16px;
    margin-top: 10%;
}
button {
    color: #fff;
    font-family:  Helvetica;
    font-size:38px ;
    line-height: 12px;
    align-items: flex-start;
    background: #68BB59;
    padding: 10px 15px;
    width: 400px;
    height: 87px;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 30%;

}
.checkbx {
    margin-top: 2%;
    margin-left: 0%;
}

label {
    background-color: #fff;
    font-family: ;
}
