@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
background: #ffffff;
}

.wrapper .sidebar{
    background-color: rgb(118, 186 , 27);
    position: fixed;
    top: 0;
    left: 0;
    width: 244px;
    height: 100%;
    padding: 20px 0;
}

.wrapper .sidebar .logo img{
    display: block;
    width: 189px;
    height: 148px;
    margin: 0 auto;
    margin-top: 61px;
}
.wrapper .sidebar ul li a{
    display: block;
    padding: 0px 37px;
    color: #1E5631;
    font-size: 25px;
    position: relative;
    margin-top: 30%;
}

.wrapper .sidebar ul li .logout{
    display: block;
    color: #1E5631;
    font-size: 25px;
    position: relative;
    margin-top: 260%;
}


.wrapper .sidebar ul li a .icon{
    color: #1E5631;    
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active,
.wrapper .sidebar ul li .logout:hover{
    color: #effce6;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #effce6;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.wrapper .section{
width: calc(100% - 225px);
margin-left: 225px;

}
    
.wrapper .section .top_navbar{
background: #ACDF87;
height: 143px;
display: flex;
align-items: center;
padding: 0 30px;  
padding-left: 76px;  
 }

.wrapper .section .top_navbar .email{
    display: block;
    padding: 0px 37px;
    color: #1E5631;
    font-size: 20px;
    position: absolute;
    right: 0%;
}

.wrapper .section .top_navbar h3{
    font-size: 36px;
    color: #1E5631;
}

#product{
    border-collapse: collapse;
    margin-left: 14%;
    margin-right: auto;
    margin-top: 10%;
    width: 85%;
}

#product td, #product th{
    border:2px solid #76BA1B;
    padding: 8px;
}

#product tr{background-color:#ACDF87;}
#product th, #product td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ACDF87;
    color: #1E5631;
}

#product img{
    width: 60px;
    object-fit: cover;
}


h1{
    position: absolute;
    top: 276px;
    left: 14%;    
}

  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 1px solid #000000;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 14px 0 0 14px;
    outline: none;
    color: rgb(118, 186 , 27, 0.3);
  }
  
  .searchTerm:focus{
    color: rgba(0, 0, 0);
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #1E5631;
    background: #ffffff;
    text-align: center;
    color: #1E5631;
    border-radius: 0 14px 14px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 294px;
    left: 84%;
    transform: translate(-50%, -50%);
  }

 